---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";

import MainLayout from "../../layouts/main.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");

  const paths = posts.map((post) => {
    return { params: { slug: post.slug }, props: { post } };
  });

  return paths;
};

type Props = { post: CollectionEntry<"posts"> };

const { post } = Astro.props;
const { Content } = await post.render();
---

<MainLayout title={post.data.title}>
  <div class="mt-12">
    <Image
      src={post.data.image}
      alt={post.data.title}
      width={1024}
      height={1024 / 2}
      format="webp"
      class="rounded-lg shadow-xl mb-28 object-cover"
    />
    <div class="prose prose-2xl overflow-visible relative mb-20">
      <Content />
    </div>
  </div>
</MainLayout>
