---
import MainLayout from "../layouts/main.astro";
---

<MainLayout title="Intro">
  <div
    class="relative pt-12 flex flex-col items-center justify-center xl:flex-row xl:gap-36"
  >
    <div class="w-full xl:w-3/5">
      <h1 class="text-xl mb-4 font-bold">Welcome to my art blog!</h1>
      <h2 class="mb-4 text-lg">
        Here i share the most current information from the world of art.
      </h2>
      <p>
        Repellendus explicabo voluptatibus consequuntur blanditiis dolorum
        ducimus, voluptas reiciendis animi tenetur eligendi doloremque vitae
        necessitatibus molestiae cum distinctio asperiores?
        <br />
        <br />
         Quas, reiciendis quae.
      </p>
      <div class="flex justify-center pt-12 text-center mb-12 xl:gap-16">
        <div class="w-32">
          <h2>Articles</h2>
          <p id="articles-counter" class="text-xl font-bold">85</p>
        </div>
        <div class="w-32">
          <h2>Youtube</h2>
          <p id="youtube-counter" class="text-xl font-bold">1.2m</p>
        </div>
        <div class="w-32">
          <h2>Reviews</h2>
          <p id="reviews-counter" class="text-xl font-bold">50</p>
        </div>
      </div>
    </div>
    <div class="relative">
      <img class="h-full" src="/portrait.jpg" alt="portrait" />
      <div class="absolute bottom-0 right-0 translate-y-1/4">
        <img src="/paint.svg" alt="paint" />
      </div>
    </div>
  </div>
</MainLayout>

<script>
  function incrementCounter(
    selector: string,
    current: number,
    target: number,
    duration: number,
    letter = ""
  ) {
    const counter = document.getElementById(selector);
    const stepTime = Math.abs(Math.floor(duration / target));

    if (current < target && counter) {
      current++;
      counter.innerText = current.toString() + letter;

      setTimeout(
        () => incrementCounter(selector, current, target, duration, letter),
        stepTime
      );
    }
  }

  incrementCounter("articles-counter", 0, 85, 2000);
  incrementCounter("youtube-counter", 0, 320, 1000, "k");
  incrementCounter("reviews-counter", 0, 250, 1000);
</script>
