---
import Navigation from "../components/Navigation";

const { title } = Astro.props;
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Art-blog | {title}</title>
  </head>
  <body>
    <header>
      <Navigation client:load />
    </header>
    <main>
      <slot />
    </main>
    <!-- <footer>all rights reserved</footer> -->
  </body>
</html>
