---
import { ViewTransitions } from "astro:transitions";

import Navigation from "../components/Navigation";

const { title } = Astro.props;
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Art-blog | {title}</title>
    <ViewTransitions />
  </head>
  <body class="mx-8 md:mx-16 lg:mx-24">
    <header>
      <Navigation client:load />
    </header>
    <main>
      <slot />
    </main>
    <!-- <footer>all rights reserved</footer> -->
  </body>
</html>
